<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="login-container">

    <!-- Logo -->
    <div class="logo">
      <img src="img/logo.png" alt="Logo"> 
    </div>

    <!-- Formulario -->
    <form class="login-form" id ="LoginForm">

      <input type="text" id="rol" placeholder="Rol">

      <input type="password" id="contraseña" placeholder="Contraseña">

      <a href="#" class="forgot-password">
        ¿Olvidaste tu contraseña?
      </a>

      <button type="submit">
        Ingresar
      </button>

      <a href="#" class="create-account">
        Crea tu cuenta presionando aquí
      </a>

    </form>

  </div>

</body>
</html>