<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>
<body>

  <div class="login-container">

    <!-- Logo -->
    <div class="logo">
      <!-- <img src="{{ url_for('static', filename='img/logo.png') }}"> -->
    </div>

    <!-- Formulario -->
    <form class="login-form" id="loginForm">

    <input type="text" id="usuario" placeholder="Rol">

    <input type="password" id="password" placeholder="Contraseña">

    <a href="#" class="forgot-password">
        ¿Olvidaste tu contraseña?
    </a>

    <button type="submit">
        Ingresar
    </button>

    <a href="/registro" class="create-account">
        Crea tu cuenta presionando aquí
    </a>

</form>

  </div>

  <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>