<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="login-container">

    <div class="logo">
        <img src="img/logo.png">
    </div>

    <form class="login-form" id="registroForm">

        <input type="text" id="nuevoUsuario" placeholder="Nuevo usuario">

        <input type="password" id="nuevaPassword" placeholder="Nueva contraseña">

        <button type="submit">
            Crear cuenta
        </button>

    </form>

</div>

<script src="registro.js"></script>

</body>
</html>